@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  /* line 18, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 26, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 30, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 34, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 38, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 42, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 46, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 50, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 55, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 59, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 65, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 73, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 79, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 86, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 90, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 5, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.hero {
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT0rewpzvcUZd7n17p5YhAdXZXh1VIGIbx-A1n6vfKtg5yVchGp"), -webkit-linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT0rewpzvcUZd7n17p5YhAdXZXh1VIGIbx-A1n6vfKtg5yVchGp"), linear-gradient(10deg, #217142, #214271), no-repeat #214271 scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em; }
  /* line 19, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em; }
  /* line 24, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: white; }
    /* line 15, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_clearfix.scss */
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_clearfix.scss */
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    /* line 32, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e3e3e3);
      background-image: linear-gradient(white, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5e0e0);
      background-image: linear-gradient(white, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      /* line 131, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      /* line 147, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      /* line 131, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      /* line 147, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      /* line 51, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    /* line 38, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .hero .hero-inner .hero-copy {
      text-align: center; }
      /* line 41, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: .5em; }
        @media screen and (min-width: 53.75em) {
          /* line 41, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      /* line 50, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .hero .hero-inner .hero-copy p {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em; }
        @media screen and (min-width: 53.75em) {
          /* line 50, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }

/* line 70, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.side-image {
  background: #F9F9F9; }
  @media screen and (min-width: 53.75em) {
    /* line 70, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  @media screen and (min-width: 53.75em) {
    /* line 77, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .side-image .images-wrapper {
      display: table-cell;
      width: 33.33333%;
      background-position: bottom;
      background-size: cover;
      border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  /* line 94, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .side-image .content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 94, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .side-image .content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 8em 4em; } }
  /* line 104, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .side-image .content h1 {
    margin-bottom: .9em; }
  /* line 108, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .side-image .content h4 {
    background: #5DAC5D;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase; }
  /* line 119, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .side-image .content p {
    color: gray;
    margin-bottom: 3em; }
  /* line 124, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .side-image .content button {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e3e3e3);
    background-image: linear-gradient(white, #e3e3e3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    border: 1px solid #dfd8d8;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e5e0e0);
    background-image: linear-gradient(white, #e5e0e0);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    font-size: 1em;
    outline: none; }
    /* line 131, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
    .side-image .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
      background-image: linear-gradient(#f2f2f2, #dbdbdb); }
    /* line 147, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
    .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
      border: 1px solid #dbdbdb;
      box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
    /* line 131, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
    .side-image .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
      background-image: linear-gradient(#f2f2f2, #ded8d8); }
    /* line 147, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
    .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
      border: 1px solid #dfd8d8;
      box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
    /* line 51, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_button.scss */
    .side-image .content button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

/* line 15, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/bourbon/addons/_clearfix.scss */
.grid-items:after {
  content: "";
  display: table;
  clear: both; }
/* line 156, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 14em;
  background: #6b83a6;
  width: 100%;
  overflow: hidden;
  float: left;
  padding: 2em;
  border-top: 0;
  border-bottom: 9px solid white;
  border-left: 4.5px solid white;
  border-right: 4.5px solid white;
  text-align: center;
  cursor: pointer; }
  @media screen and (min-width: 53.75em) {
    /* line 156, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item {
      width: 33.33333%; } }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(1) {
    background-color: #6b83a6;
    box-shadow: inset 0px 0px 1px 2px #536a8b; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(1):hover {
      background-color: #536a8b;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(2) {
    background-color: #3581A5;
    box-shadow: inset 0px 0px 1px 2px #29637e; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(2):hover {
      background-color: #29637e;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(3) {
    background-color: #5FBEBE;
    box-shadow: inset 0px 0px 1px 2px #44a6a6; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(3):hover {
      background-color: #44a6a6;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(4) {
    background-color: #98C79A;
    box-shadow: inset 0px 0px 1px 2px #77b57a; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(4):hover {
      background-color: #77b57a;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(5) {
    background-color: #A7A891;
    box-shadow: inset 0px 0px 1px 2px #909175; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(5):hover {
      background-color: #909175;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(6) {
    background-color: #BDCC97;
    box-shadow: inset 0px 0px 1px 2px #a7bb75; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(6):hover {
      background-color: #a7bb75;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
  /* line 176, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item:nth-child(7) {
    background-color: #979EA0;
    box-shadow: inset 0px 0px 1px 2px #7c8588; }
    /* line 180, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item:nth-child(7):hover {
      background-color: #7c8588;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover; }
/* line 190, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item img {
  display: block;
  height: 3em;
  margin: auto;
  margin-bottom: 1em; }
/* line 197, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-bottom: .4em; }
/* line 203, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item p {
  margin: auto;
  color: rgba(255, 255, 255, 0.7); }
  @media screen and (min-width: 40em) {
    /* line 203, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .grid-items .grid-item p {
      max-width: 70%; } }
@media screen and (min-width: 53.75em) {
  /* line 211, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item-big {
    width: 66.66667%; } }
@media screen and (min-width: 40em) {
  /* line 215, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .grid-items .grid-item-big p {
    max-width: 60%; } }
/* line 222, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item-image1 {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT0rewpzvcUZd7n17p5YhAdXZXh1VIGIbx-A1n6vfKtg5yVchGp);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
/* line 229, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item-image2 {
  background: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT6DI5jidYfIBPp0J8P138X8TXzY9YpZHlRwRCgwhU1jZMUd7xlpA);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
/* line 236, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item-image3 {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRf47kQfN0vAQbopQmLHOWbKF9_ZKJukaOB2uLbhpbZirgxDpOw);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
/* line 243, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item-image4 {
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQFXDhPM_Fy7FbVFhg06jd5I0X3uUWO19Kg8mfrA3xZFGcjhBv3xA);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }
/* line 250, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.grid-items .grid-item-image {
  background: url(https://farm3.staticflickr.com/2732/4283544419_0b70133ce6.jpg);
  background-color: #6b83a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

/* line 262, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
.footer-2 {
  background: #40526b;
  padding: 1.5em;
  width: 100%; }
  /* line 272, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 272, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  /* line 282, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 .footer-logo img {
    height: 1.6em; }
  /* line 286, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 286, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  /* line 295, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 53.75em) {
      /* line 295, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  /* line 305, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 308, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    /* line 313, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .footer-2 .footer-secondary-links {
      float: right; } }
  /* line 318, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  /* line 323, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 323, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    /* line 331, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      /* line 336, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    /* line 341, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      /* line 346, /Users/KirtMartin1/ruby/rubylabs/day14/snp/source/stylesheets/all.scss */
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
